@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 40px;
}

h2 {
  text-align: center;
}

button {
  background-color: transparent;
  border: 2px solid #4caf50;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;

  /* alinhar ao centro da tela */
    display: block;
    margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
